.info {
    justify-content: center;
    text-align: center;
    padding: 0px;
    padding-bottom: 25%;
    margin: 15px;
}

iframe {
    margin-top: 2.5%;
    width: 560px;
    height: 315px;
}

@media (max-width: 846px) {
    iframe {
        width: 90vw;
        height: 40vh;
    }
}