.info {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.info>h1 {
    margin-bottom: 30px;
}

.tituloCustom {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.enviar {
    display: flex;
    align-items: center;
    border-radius: 15px;
    height: 45px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #EBD672;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 25px;
    height: 55px;
    border: none;
    cursor: pointer;
}

.cajaTexto {
    border-radius: 15px;
    border: 1px solid;
    width: 120px;
    height: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 3px;
}

.formulario {
    padding: 20px;
}

#desaparece {
    display: none;
}


/* el pequeño */

@media (max-width: 846px) {
    .tituloCustom {
        font-size: 20vw;
    }
    .conDaniel {
        flex-direction: column;
        text-align: center;
        font-size: 5vw;
    }
    .info>h1 {
        font-family: 'Anton', sans-serif;
    }
    .enviar {
        font-family: 'Anton', sans-serif;
    }
}


/* el grande */

@media (min-width: 851px) {
    .tituloCustom {
        font-size: 100px;
    }
    .conDaniel {
        font-size: 30px;
    }
    .impactDestacado {
        position: relative;
        top: -2px;
    }
    .info>h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .enviar {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}