.info {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.info>h1 {
    margin-bottom: 30px;
}

.tituloCustom {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.interiorForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.campos {
    padding-right: 2.5%;
}

.interiorFormMensaje {
    padding-left: 2.5%;
}

.enviar {
    display: flex;
    color: black;
    border-radius: 15px;
    height: 65px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E7D780;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-left: 5%;
}

.cajaTexto {
    border-radius: 15px;
    border: 1px solid;
    width: 120px;
    height: 10px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 3px;
}

.cajaMensaje {
    border: 1px solid black;
    border-radius: 15px;
}

.formulario {
    padding: 20px;
}

#desaparece {
    display: none;
}


/* el pequeño */

@media (max-width: 846px) {
    .tituloCustom {
        font-size: 20vw;
    }
    .conDaniel {
        flex-direction: column;
        text-align: center;
        font-size: 5vw;
    }
    .info>h1 {
        font-family: 'Anton', sans-serif;
    }
    .enviar {
        font-family: 'Anton', sans-serif;
    }
    .interiorForm {
        flex-direction: column;
    }
    .campos,
    .interiorFormMensaje {
        padding: 0;
    }
    .enviar {
        margin-top: 2%;
    }
}


/* el grande */

@media (min-width: 851px) {
    .tituloCustom {
        font-size: 100px;
    }
    .conDaniel {
        font-size: 30px;
    }
    .impactDestacado {
        position: relative;
        top: -2px;
    }
    .info>h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .enviar {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}