body,
html {
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(147deg, rgba(255, 255, 255, 1) 45%, rgba(30, 101, 140, 1) 100%);
}

.cartelPrincipal {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloCustom {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.srApareceDespues {
    color: #1D658C;
    font-family: 'Times New Roman', Times, serif;
}

.conDaniel {
    font-weight: bold;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.impactDestacado {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
}


/* el pequeño */

@media (max-width: 900px) {
    .cartelPrincipal {
        border: 1px solid red;
    }
    .tituloCustom {
        font-size: 20vw;
    }
    .conDaniel {
        flex-direction: row;
        font-size: 5vw;
    }
}


/* el grande */

@media (min-width: 901px) {
    .tituloCustom {
        font-size: 100px;
    }
    .conDaniel {
        font-size: 30px;
    }
    .impactDestacado {
        position: relative;
        top: -2px;
    }
}