body,
html {
    margin: 0px;
    height: 100vh;
    width: 100%;
    background: linear-gradient(147deg, rgba(255, 255, 255, 1) 45%, rgba(30, 101, 140, 1) 100%);
}

.cartelPrincipal {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloCustom {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.tituloCustom {
    font-size: 100px;
}

.srApareceDespues {
    color: #1D658C;
    font-family: 'Times New Roman', Times, serif;
}

.conDaniel {
    font-weight: bold;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.impactDestacado {
    margin-left: 5px;
    margin-right: 5px;
}

.opciones {
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.opcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(244, 250, 255, 0.494);
    text-align: center;
    height: 25vh;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: all 0.2s ease-in;
}

.opcion:hover {
    background-color: white;
    transition: all 0.2s ease-in;
}

.opcion>a {
    font-size: larger;
}

.opcion>a>img {
    width: 10vh;
    padding-bottom: 10px;
    margin-top: 25px;
}


/* el pequeño */

@media (max-width: 846px) {
    .impactDestacado,
    .opcion>a {
        font-family: 'Anton', sans-serif;
    }
    .tituloCustom {
        font-size: 85px;
    }
    .conDaniel {
        flex-direction: column;
        text-align: center;
        font-size: 5vw;
    }
    .cartelPrincipal {
        height: 40%;
        justify-content: end;
    }
    .opciones {
        justify-content: center;
        bottom: 20px;
    }
    .opcion {
        height: 20%;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 2%;
        margin-left: 0.5px;
        margin-right: 0.5px;
    }
    .contacto {
        bottom: 30%;
    }
}


/* el grande */

@media (min-width: 846px) {
    .conDaniel {
        font-size: 30px;
    }
    .impactDestacado {
        position: relative;
        top: -3px;
    }
    .opciones {
        position: absolute;
        bottom: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 30vh;
    }
    .opcion {
        height: 25vh;
        margin-top: 5vh;
    }
    .opcion:hover {
        height: 30vh;
        margin-top: 0vh;
    }
    .impactDestacado,
    .opcion>a {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}