.opcion {
    width: 23%;
}

.quienSoy {
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
}


/* el pequeño */

@media (max-width: 846px) {
    .opciones,
    .quienSoy>h1 {
        font-family: 'Anton', sans-serif;
        font-size: 2.3vw;
    }
}

@media (max-width: 464px) {
    .opciones {
        font-size: 3.4vw;
    }
}


/* el grande */

@media (min-width: 846px) {
    .opciones,
    .quienSoy>h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}